This is the index.html page demo. <p>

<b> It lives in a repo which is baked into the image via a Dockerfile and is pulled down via git clone when the image is built. </b> <p>

<img src="http://imgc.allpostersimages.com/images/P-473-488-90/70/7088/536V100Z/posters/lowell-herrero-cow-jumps-over-the-moon.jpg"></a>
